<li class="header">
	<div class="row">
		<div class="col-xs-12">
			<h2>from <%= source%> to <%= destination%></h2>
		</div>
	</div>
</li>

<% for( var i = 0; i < data.length; i++ ){%>
<li class="content">
	<a>
		<div class="row">
			<div class="col-xs-4">
				<span class="cab-name"><%= data[i].cabName%></span>
			</div>
			<div class="col-xs-5">
				<span class="distance"><%= data[i].distance%> meter away</span>								
			</div>
			<div class="col-xs-3">
				<span class="price"><span class="prefix">rs</span><%= data[i].price%></span>
			</div>
		</div>
	</a>
</li>
<%}%>
